In [75]:
import os
import pandas as pd

In [76]:
df = pd.read_csv("/home/rene/coding/esk/owner_counts.csv", sep=";")
old_df = pd.read_csv("/home/rene/Downloads/esk_mldata_okt22.csv", sep=";")

In [77]:
df = df[["title", "owner count"]]
old_df = old_df[["title", "owner count"]]
print(df.shape)
print(old_df.shape)

(5731, 2)
(5686, 2)

In [78]:
merged = pd.merge(old_df, df, on=["title"], how="left")
merged.set_index("title")

       owner count_x  owner count_y
title
1                  2              2
2                  1              1
3                  3              3
4                  3              3
5                  7              6
...              ...            ...
5705               1              1
5706               1              1
5707               1              1
5708               1              1
5709               1              1

[5694 rows x 2 columns]

In [79]:
print(merged.loc[merged["owner count_x"] != merged["owner count_y"]].to_string())

      title  owner count_x  owner count_y
4         5              7              6
51       52              2              1
77       78              2              1
88       89              6              5
95       96              5              2
101     102              1              5
107     113              1              3
134     141              3              4
153     162              2              1
165     174              8              7
168     177              2              1
171     180              3              2
204     213              1              5
205     214              1              4
206     215              1             13
207     216              1              4
208     217              1              0
210     219              1              3
212     221              1              2
213     222              1              0
215     224              1              3
217     226              1              2
224     233              1              5
225     234              1              2
246     255              1              2
256     265              1              6
259     269              1              2
263     273              1              2
265     275              1              2
266     276              1              2
272     282              1              4
273     283              1              3
276     286              1              3
278     288              1              4
279     289              1              2
280     290              1              2
281     291              1              3
282     292              1              4
285     295              1              7
286     296              1              3
289     299              1              3
294     304              1              2
296     306              1              2
307     317              1              3
308     318              1              2
310     320              1              3
312     322              1              4
320     331              1              3
322     333              1              6
326     337              1              2
329     340              1              5
339     350              1              3
345     356              1              9
348     359              1              7
349     360              1              3
351     362              1              3
354     365              1              2
355     366              1              6
360     371              1              2
361     372              1              2
363     374              1              3
364     375              1              2
365     376              1              3
367     378              1              2
387     398              1              2
400     411              1              2
403     414              1              0
427     439              1              3
433     445              1              2
434     446              1              2
435     447              1              2
443     455              1              2
446     458              1              2
448     460              1              2
451     463              1              2
461     473              1              2
483     495              1              2
486     498              1              3
495     508              1              2
496     509              1              3
500     513              1              2
502     515              1              4
503     516              1              2
510     523              1              2
519     532              1              3
524     537              1              2
526     539              1              3
528     541              1              4
530     543              1              2
532     545              1              3
533     546              1              3
546     559              2              1
551     564              1              2
559     572              1              3
572     585              1              0
578     591              1              2
580     593              1              3
582     595              1              6
584     597              1              5
592     605              1              3
596     609              1              0
600     613              1              3
604     617              1              2
605     618              1              2
606     619              1              2
607     620              1              2
608     621              1              4
615     630              1              5
617     632              1              0
618     633              1              3
632     647              1              2
638     653              1              2
644     659              3              0
649     664              1              2
654     669              2              1
655     670              1              4
656     671              1              9
657     672              1              2
658     673              1              2
660     675              1              5
662     677              1              3
668     683              1              2
671     686              1              3
676     691              1              2
679     694              1              2
681     696              1              3
682     697              1              4
683     698              1              2
686     701              1              4
689     704              1              0
722     737              1              2
725     740              1              5
728     743              1              5
730     745              1              5
746     761              1              5
752     767              1              7
760     775              1              2
765     780              1              4
770     785              1              2
777     792              1              3
778     793              1              2
783     798              1              2
784     799              1              2
814     829              1              2
819     834              1              2
824     839              1              3
831     846              1              3
849     864              1              4
854     869              1              2
860     875              1              2
862     877              1              2
884     899              1              2
891     906              1              2
928     943              4              5
1103   1120              2              3
1314   1332              4              6
1401   1420              1              3
1537   1556              1              0
1591   1610              1              3
1627   1646              1              3
1793   1812              5              6
1889   1908              3              4
2727   2748              3              4
2943   2964              1              2
2958   2979              2              3
3176   3199              4              5
3461   3483              1              2
3491   3513              4              5
3775   3794              2              3
3888   3907              1              2
3955   3974              2              3
3958   3977              2              3
4244   4264              6              7
4357   4377              1              0
4388   4408              2              3
4515   4536              7              2
5017   5036              1              2
5057   5076              2              3
5143   5162              2              3
5167   5186              1              2
5266   5284              2              1
5267   5284              1              2
5287   5303              1              0
5288   5304              1              0
5386   5402              1              2
5485   5501              2              3
5564   5580              1              2
5579   5595              1              2
5597   5613              1              2
5662   5678              1              2